body {
    margin: 0;
    padding: 0;
}

.teste {

    background-color: green;
    margin-left: 100px;
    margin-top: 100px;
    width: 200px;
    height: 200px;
    border-radius: 10px;

    /* Para transformar o quadrado em um circulo basta definir o border-radius com metade dos pixel da largura e altura */
}