* {
    box-sizing: border-box;
}

body {

    margin: 50px;
    font-size: 17px;
}

p {

    color: #0000FF;
    font-size: 20px;
    font-family: 'Chilanka';
}

/* Após importar a fonte, colocar ela dentro de aspas simples */