* {
    box-sizing: border-box;
}

body {

    margin: 50px;
    font-size: 17px;
}

H1 {


    font-family: 'Chilanka';
}

/* Após importar a fonte, colocar ela dentro de aspas simples */

table {

    width: 600px;
    
}

table thead {
    
    background-color: #CCC;
}



th, td {

    padding: 10px;
    text-align: left;
}

tbody tr:hover {

    background-color: #ccc;
}

/* Comando para deixar a tabela com linhas de cores alternadas. */
tbody tr:nth-child(even) {

    background-color: #eee;
}