body {
    margin: 0;
}

.exemplo {
    width: 150px;
    height: 150px;
    background-color: cyan;
    margin: auto;
    margin-top: 100px;
    box-shadow: 0px 0px 10px #888888;
    transition: all 0.7s linear;
}

.exemplo:hover {
    width: 300px;
    height: 300px;
    background-color: black;
}
