body {

    margin: 0px;
}

.exemplo {

    background-color: #000000;
    width: 500px;
    height: 500px;
}

img {

    min-width: 500px;
}

/* DIV

    Por padrão ocupa toda a largura da tela
*/

/*
        width: inherit;

        Faz com que herde o tamanho do item anterior.

        min-width: 500px;

        Define a largura minima

        max-width: 500px;

        Define a largura maxima
*/