* {
    box-sizing: border-box;
}
body {

    margin: 0px;
}

.exemplo {

    background-color: #00FF00;
    width: 400px;
    height: 400px;
    border: 5px solid #000;
    padding: 10px;
    margin: 20px;
}

/*
    * {
        box-sizing: border-box;
    }

    Faz com que ao declarar um widht ou height em px, o valor seja atribuído contando com bordas, margins e paddings. 

    Enquanto o content-box considera o valor declarado para o conteúdo. 
*/